# Files to ignore during archive
# git files
.gitattributes export-ignore
.gitignore export-ignore

# composer config
composer.json export-ignore
composer.lock export-ignore

# npm config
package.json export-ignore
package-lock.json export-ignore

# dev tools
tailwind.config.js export-ignore
postcss.config.js export-ignore
./src export-ignore

# publisher script
console_app/ export-ignore