<div class="flex justify-center items-center pt-16">
    <div class="w-3/4 rounded border-l-4 border-red-600 p-4 bg-red-200 text-red-800">
        <div class="font-bold">Oops! An error occured</div>
        <div>
            <p>{{ content }}</p>
        </div>
    </div>
</div>