<div class="flex justify-center items-center pt-16">
    <div class="w-3/4 rounded border-l-4 border-green-600 p-4 bg-green-200 text-green-800">
        <div class="font-bold">Thank You {{ name }}!</div>
        <div>
            <p>Your coupon: <span class="font-bold">{{ coupon }}</span> is ready for use.</p>
            <p>Detailed information has been forwarded to <strong>{{ email }}</strong> as well.</p>
        </div>
    </div>
</div>